{% extends 'base.html' %}

{% block estilos %}
{% endblock %}

{% block menu %}
{% include 'menu.html' %}
{% endblock %}

{% block contenido %}

<div>
    <div>
        <h3 class="subtitulo">Clientes de la Peluqueria</h3>
        <a class="btn btn-primary m-3 " href="/nuevo_cliente"> Añadir Cliente </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                <th>Dirección</th>
                <th>N° de Teléfono</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre_apellido }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.correo }}</td>
                <td>
                    <a href="/editar/{{cliente.id}}" class="btn btn-primary">Editar</a>
                    <a href="/eliminar/{{cliente.id}}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}