{% extends 'base.html' %}

{% block estilos %}
{% endblock %}

{% block menu %}
{% include 'menu.html' %}
{% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-6">
        <h3>Añadir Cliente</h3>
        <hr>
        <form action="/procesar_cliente" method="post">
            <div class="row g-3 align-items-center mt-3">
                <div class="col-3">
                    <label for="name" class="col-form-label">Nombre y Apellido</label>
                </div>
                <div class="col-9">
                    <input type="text" id="nombre_apellido" name="nombre_apellido" class="form-control">
                </div>
            </div>
            <div class="row g-3 align-items-center mt-3">
                <div class="col-3">
                    <label for="name" class="col-form-label">Dirección</label>
                </div>
                <div class="col-9">
                    <input type="text" id="direccion" name="direccion" class="form-control">
                </div>
            </div>
            <div class="row g-3 align-items-center mt-3">
                <div class="col-3">
                    <label for="name" class="col-form-label">Teléfono</label>
                </div>
                <div class="col-9">
                    <input type="text" id="telefono" name="telefono" class="form-control">
                </div>
            </div>
            <div class="row g-3 align-items-center mt-3">
                <div class="col-3">
                    <label for="name" class="col-form-label">Correo</label>
                </div>
                <div class="col-9">
                    <input type="email" id="correo" name="correo" class="form-control">
                </div>
            </div>
            <div class="row g-3 align-items-center mt-3">
                <div class="col-3">
                </div>
                <div class="col-9">
                    <button class="btn btn-primary" type="submit">Añadir</button>
                </div>
            </div>
        </form>
        

    </div>
</div>

{% endblock %}