{% extends 'base.html' %}

{% block estilos %}
{% endblock %}

{% block menu %}
{% include 'menu.html' %}
{% endblock %}

{% block contenido %}

<div>
    <div>
        <h3>Servicios de la Peluqueria</h3>
        <a class="btn btn-primary m-3 " href="/nuevo_servicio"> Añadir Servicio </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Servicio</th>
                <th>Precio del Servicio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.nombre_servicio }}</td>
                <td>{{ servicio.precio}}</td>
                <td>
                    <a href="/editar/{{servicio.id}}" class="btn btn-primary">Editar Servicio</a>
                    <a href="/eliminar/{{servicio.id}}" class="btn btn-danger">Eliminar Servicio</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}